.btn {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: .7rem 1.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  transition-duration: 0.6s;
}

.btn-primary {
  background-color: #fc997c;
  color: #fff;
  border: .2rem solid #fc997c;
}

.btn-primary:hover {
  background-color: #fff;
  color: #fc997c;
  border: .2rem solid #fc997c;
}

.btn-outline-primary {
  background-color: #fff;
  color: #fc997c;
  border: .2rem solid #fc997c;
}

.btn-outline-primary:hover {
  background-color: #fc997c;
  color: #fff;
  border: .2rem solid #fc997c;
}

.btn-secondary {
  background-color: #2e4c60;
  color: #fff;
  border: .2rem solid #2e4c60;
}

.btn-secondary:hover {
  background-color: #fff;
  color: #2e4c60;
  border: .2rem solid #2e4c60;
}

.btn-outline-secondary {
  background-color: #fff;
  color: #2e4c60;
  border: .2rem solid #2e4c60;
}

.btn-outline-secondary:hover {
  background-color: #2e4c60;
  color: #fff;
  border: .2rem solid #2e4c60;
}
