.signup-page {
    padding-top: 2rem;
}

.signup-box {
    width: 60rem;
    margin: 2rem auto;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.signup-title {
    text-align: center;
    font-size: 3.3rem;
    color: #2e4c6d;
}

.signup-form {
width: 50rem;
margin: auto;
}

.signup-form label,
.signup-form input:not([type="checkbox"]),
.signup-form select {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.signup-form input[type="checkbox"],
.signup-form input[type="checkbox"]+label {
    display: inline-block;
    width: auto;
    margin-top: 1.5rem;
}

.signup-form button[type="submit"] {
    display: block;
    margin-top: 1.5rem;
}

.signup-form input:not([type="checkbox"]),
.signup-form select {
    border: 1px solid #ccc;
    padding: 1rem 1.5rem;
}

.signup-form input:not([type="checkbox"]):focus, 
    .signup-form select:focus {
        outline: none;
        background-color: yellow;
        border: 1px solid greenyellow;
    } 

.signup-form input[type="checkbox"] {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid #2e4c6d;
    vertical-align: bottom;
    border-radius: 50%;
}

.signup-form input[type="checkbox"]:hover {
    background: gray ;
}

.signup-form input[type="checkbox"]:checked {
    background: #FC997C ;
}

